
body {

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
 
}


.textitu {
/* Title Medium */
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
/* o 127% */

/* Escala 1 */
color: #0C1927;

}

.formu {

  color: beige;
}


.ingtexto {
    
}




.ver {

/* Disposición automática */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 10px;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


/* Label */

width: 92px;
height: 24px;

/* Label Large */
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* idéntica a la altura del cuadro o 150% */
text-align: center;

/* Principal */
color: #040D50;


/* Auto layout interior */
flex: none;
order: 0;
flex-grow: 0;

}