

.formulario-container {

  /* Disposición automática */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  /* Principal */
  background-color: #040D50;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.formulario-group {
    margin-bottom: 15px;
    color: black;
}

.formulario-group label {

    display: block;
    margin-bottom: 5px;
    font-weight: bold;

    /* Acento Gradient */
    background: linear-gradient(135deg, #F49F1C 45.83%, #F2D19E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    background-clip: text;  

    line-height: 1.9rem;
}
  
.formulario-group input {
  
    display: block;
    /* margin-left: 10px;  Espacio entre la etiqueta y el input */
    color: white;
    width: 100%;
    background-color: #040D50;
    border: 1px solid hsl(34, 94%, 37%);
    

    border-radius: 4px;
    box-sizing: border-box; /* Importante para que el padding no afecte el ancho */
}

.formulario-group textarea {

    width: 100%;
    padding: 8px;
    background-color: #040D50;
    border: 1px solid hsl(34, 94%, 37%);
    border-radius: 4px;
    box-sizing: border-box; /* Importante para que el padding no afecte el ancho */

    height: 100px;
}


.botonform {

    /* position: absolute; */
    width: 320px;
    height: 45px;

    /* Acento */
    background: #F49F1C;
    border-radius: 5px;
    font-weight: bold;

}


.etiqueta {

  /* Label Medium */
  /* font-family: 'Roboto Flex'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* idéntica a la altura del cuadro o 143% */

  /* Acento Gradient */
  background: linear-gradient(135deg, #F49F1C 45.83%, #F2D19E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */


  /* Auto layout interior */
  flex: none;
  order: 0;
  flex-grow: 0;

}


.mensaje {

    color: #F49F1C;
}






