 
 
 body {

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background: linear-gradient(86.74deg, #7E83D1 -3.71%, #F49F1C 81.49%);
}

.grid-container {

   display: grid;
   /*
   grid-template-columns: 200px 1fr; 
   grid-template-rows: auto auto auto 1fr 50; 
   */
   
   grid-template-columns: 0.2fr 1fr;
   grid-template-rows: 0.5fr 0.5fr 2fr 0.3fr;

   gap: 10px; /* Espacio entre los elementos */
   /* background: #FFF9F5; */
   grid-template-areas: 
   "menu-header" "menu-header"     
   "busqueda"     "botones"
   "principal"    "principal"
   "pie"          "pie"
   ;

}

.header {
   grid-area: "menu-header"; 

}

.busqueda {
   grid-area: "busqueda"; 

}

.botones   {
   grid-area: "botones"; 

}

.principal {

   grid-area: "principal"; 
   background-color:whitesmoke; 

}

.pie {
   grid-area: "pie"; 

   display: block;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: auto;
   align-self: auto;
   order: 0;

   height: 50px;

   box-sizing: border-box;

}


.flex-menu {

  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  height: 75px;
  align-items: center;
  justify-content: center;
  list-style-type: none

}

.logo {

   display: block

}


.card-tendencia {

   /*display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) */

   /* Plantilla/Card/Photo */

   /* Disposición automática */
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: 10px;
   isolation: isolate;

   width: 320px;
   height: 250px;

   /* Auto layout interior */
   flex: none;
   order: 0;
   flex-grow: 0;

}


.textbus {

/* Boton fijo outline */

box-sizing: border-box;

/* Disposición automática */
display: flex; 
flex-direction: row; 
align-items: center; 
padding: 10px 20px 10px 16px; 
gap: 10px;

/* position: absolute; */
left: 0%;
right: 15.62%;
top: 0%;
bottom: 0%;

/* White 1 */
background: #FFF9F5;
border-radius: 5px;

}

